<div id="<%= dom_id inventory %>">
  <p>
    <strong>Serial number:</strong>
    <%= inventory.serial_number %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= inventory.model %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= inventory.quantity %>
  </p>

</div>
