<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">About Me</h1>
        <p class="lead text-muted">
            I recently rekindled a passion for fitness. I've taken up gym sessions once again., and my determination is strong to make this a regular part of my life. Alongside my fitness journey, I've reignited my love for hiking, seeking solace in the great outdoors while also using it as a source of inspiration for those goals I'm currently pursuing and have already set.
            <br> <br>
            In addition to my enthusiasm for physical activities, I am a technology-inclined individual who thrives on learning new things. I find joy in exploring various technological realms and staying up-to-date with the latest advancements. However, my interest don't stop there. I'm constantly curious about a wide range of subjects, and I approach life like a grand puzzle, where each piece unlocks the door to another captivating place or intriguing idea.
            <br> <br>
            I've recently been engrossed in movies related to mathematics, such as gifted, the imitation game, good will hunting, the man who knew infinity, a beautiful mind and other "a must watch movies" (Into the Wild, The Bucket List, The Intouchables, and etc.). These films help me regain some momentum on my passion for learning and appreciating some things in life.
            <br> <br>
            I appreciate your visit to my profile, and I hope you find my background and interests both captivating and motivational.
            <br> <br>
            Disclaimer: The content you'll encounter reflects my personal understanding of the subjects discussed and is shaped by my own experiences.
        </p>
        <p>
          <a href="#" class="btn btn-primary my-2">Main call to action</a>
          <a href="#" class="btn btn-secondary my-2">Secondary action</a>
        </p>
      </div>
    </div>
  </section>
</main>