<footer class="blog-footer mt-3  bottom-0" >
  <div class="container text-center">
    <span class="font-monospace"><small>&copy; 2023 Jan Brian Paul Ebora - First Ruby on Rails Web Application. </small></span>
  </div>
</footer>

