<footer class="footer mt-auto py-3 bg-secondary w-100 " style="bottom: 0; position: absolute;">
  <div class="container text-center">
    <span class="text-white font-monospace"><small>&copy; 2023 Jan Brian Paul Ebora - First Ruby on Rails Web Application. </small></span>
  </div>
</footer>